/* .MyInfos {
  display: grid;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-top: 1rem;
  padding: 5%;
  border-bottom: solid #cadedf;
  background-color: aliceblue;
  border-radius: 1rem;
  width: 40vh;
  font-weight: bold;
} */

.MyInfos:hover {
  opacity: 90%;
}

.Logo {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.Names {
  flex: inline;
}
